{% extends 'main_template.html' %}
{% load bootstrap %}
{% load i18n %}
{% block title %} Login {% endblock %}

{% block view_name %} Register {% endblock %}{% block view_icon %} <span class="glyphicon glyphicon-log-in"></span> {% endblock %}

{% block body %}
    <form method="post" action="{% url 'register' %}">

        {% csrf_token %}
        {{ form|bootstrap }}
        {{ profile_form|bootstrap }}
        <br>
        <input id="baton" type="submit" class="btn btn-danger" value="Register " style="margin-bottom: 20px"></input>
    </form>
    <p><a href="{% url 'login' %}" style="color: #a94442; font-size: 16px">Do You have an account? Login here</a></p>
{% endblock %}