{% extends 'main_template.html' %}
{% load bootstrap %}
{% block title %} Reset password {% endblock %}

{% block view_name %} Enter new password {% endblock %}{% block view_icon %} <span class="
glyphicon glyphicon-question-sign"></span> {% endblock %}

{% block body %}

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <br>
    <form method="post">

        {% csrf_token %}
        {{ form|bootstrap }}
        <br>
        <input id="baton" type="submit" class="btn btn-danger" value="Change my password " style="margin-bottom: 20px"></input>
    </form>




{% endblock %}