{% extends 'main_template.html' %}
{% load bootstrap %}
{% block title %} Reset password {% endblock %}

{% block view_name %} Reset password {% endblock %}{% block view_icon %} <span class="
glyphicon glyphicon-question-sign"></span> {% endblock %}

{% block body %}

    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <br>
    <form method="post">

        {% csrf_token %}
        {{ form|bootstrap }}
        <br>
        <input id="baton" type="submit" class="btn btn-danger" value="Send email " style="margin-bottom: 20px"></input>
    </form>
        <form action="{% url 'login' %}">
            <input id="baton" type="submit" class="btn btn-danger" value="Back to login" style="margin-bottom: 10px"/>
        </form>
        <p><a href="{% url 'register' %}" style="color: #a94442; font-size: 16px">Do You haven't an account? Register</a></p>




{% endblock %}