{% extends 'main_template.html' %}
{% load bootstrap %}
{% block title %} Password reset sent {% endblock %}

{% block view_name %} Password reset complete {% endblock %}{% block view_icon %} <span class="
glyphicon glyphicon-question-sign"></span> {% endblock %}

{% block body %}

    <p>Your password has been set. You may go ahead and log in now.</p>
    <br>
        <form action="{% url 'login' %}">
            <input id="baton" type="submit" class="btn btn-danger" value="Login" style="margin-bottom: 10px"/>
        </form>




{% endblock %}