{% extends 'main_template.html' %}

{% block title %} Serie A clubs {% endblock %}

{% block view_name %} Hymn {% endblock %}{% block view_icon %} <span class="glyphicon glyphicon-music"></span> {% endblock %}

{% block body %}

<section id="hymn"  >
    <div class="container">
      <p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Tj7Z395WStc?rel=0" display="block" style="align: center" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          </br></br>
              <div class="col-md-6">
                  <p>
                  Wersja włoska: Inno Milanc
                  </br></br></br></br>


                  Milan, Milan, solo con te,</br>
                  Milan, Milan, sempre per te!</br>
                  </br></br>
                  Camminiamo noi, accanto ai nostri eroi,</br>
                  sopra un campo verde, sotto un cielo blu,</br>
                  Conquistate voi, una stella in piu,</br>
                  a brillar per noi,</br>
                  e insieme cantiamo:</br>
                  </br></br>
                  Milan, Milan, solo con te,</br>
                  Milan, Milan, sempre per te!</br>
                  </br></br>
                  oh, oh, oh, oh, oh,</br>
                  oh, oh, oh, oh, oh, oh, oh, oh,</br>
                  una grande squadra,</br>
                  sempre in festa, ole!</br>
                  oh, oh, oh, oh, oh,</br>
                  oh, oh, oh, oh, oh, oh, oh, oh,</br>
                  oh, oh, oh, oh, oh,</br>
                  e insieme cantiamo:</br>
                  </br></br>
                  Milan, Milan, solo con te,</br>
                  Milan, Milan, sempre per te!</br>
                  </br></br>
                  Con il Milan nel cuore,</br>
                  nel profondo dell'anima,</br>
                  un vero amico sei,</br>
                  e insieme cantiamo:</br>
                  </br></br>
                  Milan, Milan, solo con te,</br>
                  Milan, Milan, sempre per te!</br>
                  </br></br>
                      oh oh oh oh oh...</br></p>
              </div>
        </p>
              <div class="col-md-6">
              <p>
              Wersja polska: </br></br></br></br>
              Milan, Milan, tylko z Tobą,</br>
              Milan, Milan, zawsze dla Ciebie!</br>
              </br></br>
              Walczymy u boku naszych bohaterów,</br>
              Na zielonej murawie, pod błękitem nieba,</br>
              Zdobądźcie kolejną gwiazdę,</br>
              By błyszczała dla nas,</br>
              I razem śpiewamy:</br>
              </br></br>
              Milan, Milan, tylko z Tobą,</br>
              Milan, Milan, zawsze dla Ciebie!</br>
              </br></br>
              (oo-oo-oo-oo-oo)</br>
              (oo-oo-oo-oo-oo-oo-oo-oo)</br>
              wielki zespół,</br>
              wiecznie w radości, ole!</br>
              (oo-oo-oo-oo-oo)</br>
              (oo-oo-oo-oo-oo-oo-oo-oo)</br>
              (oo-oo-oo-oo-oo)</br>
              i razem śpiewamy:</br>
              </br></br>
              Milan, Milan, tylko z Tobą,</br>
              Milan, Milan, zawsze dla Ciebie!</br>
              </br></br>
              Z Milanem w sercu,</br>
              W głębi duszy,</br>
              Jesteś prawdziwym przyjacielem,</br>
              I razem śpiewamy:</br>
              </br></br>
              Milan, Milan, tylko z Tobą,</br>
              Milan, Milan, zawsze dla Ciebie!</br>
              </br></br>
              (oo-oo-oo-oo-oo...)</br></div>
        </p>
          </div>
      </p>
    </div>
  </section>

{% endblock %}