{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style_css/style.css' %}">
</head>
<body>

    {% if clubs|length == 0 %}
        <h2> Database is empty </h2>
    {% else %}
        <h2>Number of clubs in database: {{ clubs|length }}</h2>

        {% for club in clubs %}
            <h3>{{ club }}</h3>
            <p>{{ club.name }}</p>
            <p>{{ club.year }}</p>
            <p>{{ club.stadium_with_capacity }}</p>
            <p>{{ club.colors }}</p>
            <p>{{ club.nickname }}</p>
            <p>{{ club.web_site }}</p>
            <p>{{ club.description }}</p>
        {% endfor %}

    {% endif %}


</body>
</html>