{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link href="{% static 'style_css/style.css' %}" rel="stylesheet">
</head>
<body>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form }}
    {% if 'create' in request.get_full_path %}
        <button type="submit">Add club</button>
    {% else %}
        <button type="submit">Update club</button>
    {% endif %}
</form>
</body>
</html>