{% extends 'main_template.html' %}

{% block title %} Serie A clubs {% endblock %}

{% block view_name %} Serie A clubs {% endblock %}

{% block body %}
<!--    <a href="{% url 'create_club' %}">-->
<!--        <input id="baton" type="submit" class="btn btn-danger" value="Add Club"/>-->
<!--    </a>-->
    {% if clubs|length == 0 %}
    <p>
        <h3> Database is empty </h3>
        <a href="{% url 'create_club' %}">
            <input id="baton" type="submit" class="btn btn-danger" value="Add Club"/>
        </a>
    </p>
    {% else %}

    <p>
        <h3>Number of clubs in database: {{ clubs|length }}</h3>
        <a href="{% url 'create_club' %}">
            <input id="baton" type="submit" class="btn btn-danger" value="Add Club"/>
        </a>
    </p>
        {% for club in clubs %}
            <h3>{{ club }}</h3>
            <p>
                <a href="{% url 'update_club' club.id %}">
                    <span class="glyphicon glyphicon-list" style="color: #a94442"></span>
                </a>
                <a href="{% url 'update_club' club.id %}">
                    <span class="glyphicon glyphicon-edit" style="color: #a94442"></span>
                </a>
                <a href="{% url 'delete_club' club.id %}">
                    <span class="glyphicon glyphicon-trash" style="color: #a94442"></span>

                </a>
<hr>
            <p/>
        {% endfor %}

    {% endif %}
{% endblock %}
