{% extends 'main_template.html' %}

{% block title %} Serie A clubs {% endblock %}

{% block view_name %} Serie A clubs {% endblock %}

{% block body %}
    <a href="{% url 'create_club' %}">
        <input id="baton" type="submit" class="btn btn-danger" value="Add Club"/>
    </a>
    <br><br>
    {% if clubs|length == 0 %}
        <h2> Database is empty </h2>
    {% else %}
        <h2>Number of clubs in database: {{ clubs|length }}</h2>

        {% for club in clubs %}
            <h3>{{ club }}</h3>
            <p>
                <a href="{% url 'update_club' club.id %}">
                    <button id="baton" type="button" class="btn btn-danger" >More</button>
                </a>
                <a href="{% url 'update_club' club.id %}">
                    <button id="baton" type="button" class="btn btn-danger" >Update</button>
                </a>
                <a href="{% url 'delete_club' club.id %}">
                    <button id="baton" type="button" class="btn btn-danger" >Delete</button>
                </a>
            <p/>
        {% endfor %}

    {% endif %}
{% endblock %}
