{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{% static 'style_css/style.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Club {{ club }} will be deleted. Are You sure? </h1>
    <form method = "post">
        {% csrf_token %}
        <button type="submit">Delete club</button>
    </form>
</body>
</html>