{% extends 'main_template.html' %}
{% load static %}

{% block title %} Gallery {% endblock %}

{% block view_name %} Gallery {% endblock %}{% block view_icon %} <span class="glyphicon glyphicon-picture"></span> {% endblock %}

{% block body %}
<script src="{% static 'js/controllers.js' %}"></script>
<section id="galeria">
 <div class="container">
    <p>
        Galeria przedstawiająca zdjęcia ze zwycięskich finałów Ligi Mistrzów
    </p>
</section>
<section class="container" ng-controller="GalleryListCtrl">
  <div id="boxy">
    <div>
      <p>Wyszukaj: </p>
      <input id="wyszukiwanie" ng-model="query">
      <p></p>
      <p ng-if="query"><p1>Wyniki wyszukiwania dla:</p1> {{query}}</p>
        <span ng-if="!query">
            <p></p>
          <p>Ilość elementów: {{galleries.length}}</p>
        </span>
    </div>
    <div id="prawy">
      <p>Sortuj: </p>
      <select id="sortowanie" ng-model="orderProp" ng-options="sort as sort.label for sort in sortList" >
          <option value="title">alfabetycznie</option>
          <option value="when">chronologicznie</option>
          <option value="-when">od najnowszych</option>
      </select>
      <p></p>
      <p ng-if="orderProp"><p1>Galerie ułożone:</p1> {{orderProp.label}}</p>
    </div>
    </div>
      <p></p>
    <div class="col-sm-4 text-center" ng-repeat="gallery in galleries | filter: query | orderBy: orderProp.value">
      <img src="{{gallery.thumbnailUrl}}" class="img-rounded center-block img-responsie" alt="" height=200 width=200>
      <h3>{{gallery.title}}</h3>
      <p>Kiedy: {{gallery.when}}</p>
    </div>
  </div>
</section>

{% endblock %}
