{% extends 'main_template.html' %}
{% load static %}

{% block title %} Gallery {% endblock %}

{% block view_name %} Gallery {% endblock %}{% block view_icon %} <span class="glyphicon glyphicon-picture"></span> {% endblock %}

{% block body %}
<script src="{% static 'js/controllers.js' %}"></script>
{% verbatim %}
<section id="galeria">
 <div class="container">
    <p>
        Gallery shows winning Champions League finals by AC Milan.
    </p>
</section>

<section class="container" ng-controller="GalleryListCtrl">
<div class="row">
        <div class="form-group col-md-3">
          <p>Search</p>
          <input class="form-control" id="inputCity" ng-model="query">
        </div>
        <div class="form-group col-md-3">
          <p>Sort</p>
          <select id="inputState" class="form-control" ng-model="orderProp" ng-options="sort as sort.label for sort in sortList">
              <option value="title">alphabetic</option>
              <option value="when">chronological</option>
              <option value="-when">latest</option>
          </select>
        </div>
</div>
    <br>
<div class="boxy">
        <div class="col-sm-4 text-center" ng-repeat="gallery in galleries | filter: query | orderBy: orderProp.value">
          <img src="{{gallery.thumbnailUrl}}" class="img-rounded center-block img-responsie" alt="" height=200 width=200>
          <h3>{{gallery.title}}</h3>
          <p>{{gallery.when}}</p>
        </div>
  </div>
</section>
{% endverbatim %}

{% endblock %}
