{% extends 'main_template.html' %}

{% block title %} AC Milan {% endblock %}

{% block head %}
<header>
    <div >
        <div id="carouselID" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselID" data-slide-to="0"class="active"></li>
              <li data-target="#carouselID" data-slide-to="1"></li>
              <li data-target="#carouselID" data-slide-to="2"></li>
              <li data-target="#carouselID" data-slide-to="3"></li>
              <li data-target="#carouselID" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="/media/img/red.jpg" alt="..." >
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img src="/media/img/anim2.gif" alt="...">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img src="/media/img/kilpin.png" alt="..">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img src="/media/img/historia.png" alt="..">
                <div class="carousel-caption"></div>
              </div>
            </div>
            <a class="left carousel-control" href="#carouselID" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" ariahidden="true"></span>
              <span class="sr-only">Poprzedni</span>
            </a>

            <a class="right carousel-control" href="#carouselID" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" ariahidden="true"></span>
              <span class="sr-only">Następny</span>
            </a>
        </div>
      </div>
</header>
{% endblock %}

{% block body %}

<!--<header>-->
<!--    <div >-->
<!--        <div id="carouselID" class="carousel slide" data-ride="carousel">-->
<!--            <ol class="carousel-indicators">-->
<!--              <li data-target="#carouselID" data-slide-to="0"class="active"></li>-->
<!--              <li data-target="#carouselID" data-slide-to="1"></li>-->
<!--              <li data-target="#carouselID" data-slide-to="2"></li>-->
<!--              <li data-target="#carouselID" data-slide-to="3"></li>-->
<!--              <li data-target="#carouselID" data-slide-to="4"></li>-->
<!--            </ol>-->
<!--            <div class="carousel-inner" role="listbox">-->
<!--              <div class="item active">-->
<!--                <img src="/media/img/red.jpg" alt="..." >-->
<!--                <div class="carousel-caption"></div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <img src="/media/img/anim2.gif" alt="...">-->
<!--                <div class="carousel-caption"></div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <img src="/media/img/kilpin.png" alt="..">-->
<!--                <div class="carousel-caption"></div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <img src="/media/img/historia.png" alt="..">-->
<!--                <div class="carousel-caption"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <a class="left carousel-control" href="#carouselID" role="button" data-slide="prev">-->
<!--              <span class="glyphicon glyphicon-chevron-left" ariahidden="true"></span>-->
<!--              <span class="sr-only">Poprzedni</span>-->
<!--            </a>-->

<!--            <a class="right carousel-control" href="#carouselID" role="button" data-slide="next">-->
<!--              <span class="glyphicon glyphicon-chevron-right" ariahidden="true"></span>-->
<!--              <span class="sr-only">Następny</span>-->
<!--            </a>-->
<!--        </div>-->
<!--      </div>-->
<!--</header>-->

{% endblock %}
