{% load static %}

<!DOCTYPE html>
<html ng-app="portfolioApp">
<html lang="en">
<head>
  <title>{% block title %} {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/forms.js' %}"></script>
  <link rel="stylesheet" href="{% static 'style_css/bootstrap.min.css' %}">
  <link rel="shortcut icon" type="image/png" href="/media/img/casa_milan.png">
  <script src="{% static 'js/angular.min.js' %}"></script>
<!--   {% if 'gallery' in request.get_full_path %}-->
<!--        <script src="{% static 'js/controllers.js' %}"></script>-->
<!--   {% endif %}-->
  <link rel="stylesheet" href="{% static 'style_css/style.css' %}">
  <link rel="stylesheet" href="https://anijs.github.io/lib/anicollection/anicollection.css">
  <script src="{% static 'js/typed.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" ariaexpanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'main' %}"><div id="logo">
                            <img src="/media/img/mil.png" >
       </div> </a>
       </div>
       <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav text-right">
         <li><a id="przycisk1" href="{% url 'main' %}"  class="btn btn-primary" ><i  id="ikonka1" data-anijs="if: mouseover, on:#ikonka1 ,do: swing animated" class="glyphicon glyphicon-modal-window" ></i> Homepage</a></li>
         <li><a id="przycisk2" href="{% url 'anthem' %}" title="Hymn"  class="btn btn-primary"><span id="ikonka2" data-anijs="if: mouseover, on:#ikonka2 ,do: swing animated" class="glyphicon glyphicon-music"></span> Anthem</a>
         <li><a id="przycisk4" href="{% url 'gallery' %}" title="Galeria" class="btn btn-primary"><span id="ikonka4" data-anijs="if: mouseover, on:#ikonka4 ,do: swing animated" class="glyphicon glyphicon-picture"></span> Gallery</a>
         <li><a id="przycisk5" href="{% url 'trivia' %}" class="btn btn-primary" title="Ciekawostki"><span id="ikonka5" data-anijs="if: mouseover, on:#ikonka5 ,do: swing animated" class="glyphicon glyphicon-align-justify"></span> Trivia</a>
         <li><a id="przycisk6" href="{% url 'all_clubs' %}" class="btn btn-primary" title="AC Milan"><span id="ikonka6" data-anijs="if: mouseover, on:#ikonka6 ,do: swing animated" class="glyphicon glyphicon-list-alt"></span> Serie A clubs</a>
         </ul>
         <ul class="nav navbar-nav navbar-right">
             {% if user.is_authenticated %}
                <li><a id="przycisk" href="{% url 'user' %}"><span class="glyphicon glyphicon-user"></span></a></li>
                <li><a id="przycisk" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
                 <li><a id="przycisk" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>

{% block head %} {% endblock %}

{% url 'main' as main %}
{% if not request.path == main %}
<section id="main-page" class="jumbotron">
    <div class="container">
        <section>
    <div class="container">
      <h2  id="naglowek" class="text-danger" data-anijs="if: load, on: window, do: zoomInUp animated, before: $scrollReveal">
          {% block view_name %} {% endblock %}{% block view_icon %} {% endblock %}
      </h2>
        <br/>
        {% block body %}

        {% endblock %}
    </div>
  </section>
<br><br>
    </div>
</section>


<nav class="navbar-fixed-bottom">
<footer class="container text-center">
<br>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
          <button id="baton" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
            Privacy policy
          </button> </div>
        <div class="col-md-7"><id="naglowek" class="text-danger">@ copyright by Aleksander Gola</id></div>
        <div class="col-md-1">
            <a href="https://twitter.com/acmilan?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="/media/img/1.jpg" class="img-circle center-block img-responsie" alt="Kwadrat" height=60 width=60 data-anijs="if: mouseover, do: rubberBand animated"></a>
          </div>
          <div class="col-md-1">
            <a href="https://www.youtube.com/channel/UCKcx1uK38H4AOkmfv4ywlrg"><img src="/media/img/3.png" class="img-circle center-block img-responsie" alt="Kwadrat" height=60 width=60 data-anijs="if: mouseover, do: rubberBand animated"></a>
          </div>
          <div class="col-md-1">
            <a href="https://www.facebook.com/ACMilan/"><img src="/media/img/2.jpg" class="img-circle center-block img-responsie" alt="Kwadrat" height=60 width=60 data-anijs="if: mouseover, do: rubberBand animated"></a>
          </div>
</footer>
</nav>
{% endif %}

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-dialog">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" arialabel="Close"><span ariahidden="true">&times;</span></button>
              <h4 class="text-danger" >PRIVACY POLICY</h4>
          </div>
          <div id=class="modal-body">
            <p id="polityka">
                When you use our services, you’re trusting us with your information. We understand this is a big responsibility and work hard to protect your information and put you in control.
                <br/><br/>
                This Privacy Policy is meant to help you understand what information we collect, why we collect it, and how you can update, manage, export, and delete your information.
            </p>
          </div>
          <div class="modal-footer">
              <button id="baton" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</body>
</html>

<script src="{% static 'js/anijs.js' %}"></script>
<script src="{% static 'js/anijs-helper-scrollreveal.js' %}"></script>
<script src="{% static 'js/anijs-helper-dom.js' %}"></script>
<script src="{% static 'js/anijs-jquery-event-system.js' %}"></script>
