{% extends 'main_template.html' %}
{% load bootstrap %}
{% block title %} Trivia {% endblock %}

{% block view_name %} Trivia {% endblock %}{% block view_icon %} <span class="glyphicon glyphicon-align-justify"></span> {% endblock %}

{% block body %}

<section id="ciekawostki">
    <div class="container">

        <p>Paolo Maldini holds the records for both total appearances and Serie A appearances for Milan, with 902 official games played in total and 647 in Serie A (as of 31 May 2009, not including playoff matches), the latter being an all-time Serie A record.
        </br></br>
        Swedish forward Gunnar Nordahl scored 38 goals in the 1950–51 season, 35 of which were in Serie A, setting an Italian football and club record. He went on to become Milan's all-time top goalscorer, scoring 221 goals for the club in 268 games. He is followed in second place by Andriy Shevchenko with 175 goals in 322 games, and Gianni Rivera in third place, who has scored 164 goals in 658 games. Rivera is also Milan's youngest ever goalscorer, scoring in a league match against Juventus at just 17 years.
        </br></br>
        Legendary tactician Nereo Rocco, the first proponent of catenaccio in the country, was Milan's longest-serving manager, sitting on the bench for over nine years (in two spells) in the 1960s and early 1970s, winning the club's first European Cup triumphs. Italian Prime Minister Silvio Berlusconi, who purchased the club in 1986, is Milan's longest-serving president (23 years, due to a two-year vacancy between 2004 and 2006).
        </br></br>
        The first official match in which Milan participated was in the Third Federal Football Championship, the predecessor of Serie A, losing 3–0 to Torinese. Milan's largest ever victory was 13–0 against Audax Modena, in a league match at the 1914–15 season. Its heaviest defeat was recorded in the league at the 1922–23 season, beaten 0–8 by Bologna.
        </br></br>
        During the 1991–92 season, the club achieved the feature of being the first team to win the Serie A title without losing a single game. Previously, only Perugia had managed to go unbeaten over an entire Serie A season (1978–79), but finished second in the table. In total, Milan's unbeaten streak lasted 58 games, starting with a 0–0 draw against Parma on 26 May 1991 and coincidentally ending with a 1–0 home loss to Parma on 21 March 1993. This is a Serie A record as well as the third-longest unbeaten run in top flight European football, coming in behind Steaua București's record of 104 unbeaten games and Celtic's 68 game unbeaten run.
        </br></br>
        Since 2007, along with Boca Juniors, Milan has won more FIFA recognised international club titles than any other club in the world with 18 titles. They were overtaken by Al Ahly SC from Egypt after their 2014 CAF Confederation Cup win.
        </br></br>
        The sale of Kaká to Real Madrid in 2009 broke the eight-year-old world football transfer record held by Zinedine Zidane, costing the Spanish club €67 million
            (about £56 million). That record, however, lasted for less than a month, broken by Cristiano Ronaldo's £80 million transfer. This record, however, is in terms of nominal British pound rates, not adjusted to inflation or the real value of the euro. Madrid bought Zidane for €77.5 million in 2001, about £46 million at that time.
        </br></br>
        source: https://en.wikipedia.org/wiki/A.C._Milan#Club_statistics_and_records [14.03.2022]</p>
        </br></br>


    </div>
  </section>

{% endblock %}