{% extends 'main_template.html' %}
{% load bootstrap %}
{% block title %} Login {% endblock %}

{% block view_name %} Ciekawostki {% endblock %}{% block view_icon %} <span class="glyphicon glyphicon-align-justify"></span> {% endblock %}

{% block body %}

<section id="ciekawostki">
    <div class="container">

        Najwyższe zwycięstwo u siebie:	04.10.1914	AC Milan - Audax Modena 13:0</br>
        Najwyższe zwycięstwo na wyjeździe:	21.10.1919	Ausonia - AC Milan 0:10</br>
        Najwyższa porażka u siebie:	05.11.1922	AC Milan - Bologna 0:8</br>
        Najwyższa porażka na wyjeździe:	10.07.1927	Juventus - Milan 8:2</br>

        </br>

        <li>AC Milan jest rekordzistą Włoch pod względem meczów bez porażki w Serie A. Passa Rossonerich trwała nieprzerwanie przez 58 spotkań (od 26 maja 1991 do 21 marca 1993 r.).</li>
        <li>Rekordowa seria Milanu meczów bez porażki w europejskich pucharach - 17 (od 19 kwietnia 1972 do 10 kwietnia 1974 r.). To 6. wynik pod tym względem w Europie.</li>
        </li>W sezonie 1968/69 Milan w 30 meczach Serie A stracił zaledwie 12 bramek. Średnia - 0.4 straconego gola na mecz. To rekord Włoch.
        <li>AC Milan dwukrotnie kończył rozgrywki o mistrzostwo Włoch bez porażki: w roku 1907 - 4 zwycięstwa i 2 remisy oraz w sezonie 1991/92 - 22 zwycięstwa i 12 remisów.</li>
        <li>W sezonie 1993/94 oba mediolańskie kluby zdobyły europejskie trofeum - AC Milan Puchar Europy - Inter Puchar UEFA. To jedyny przypadek dwóch klubów z jednego miasta w historii.</li>
        <li>AC Milan trzykrotnie eliminował z pucharów obrońcę trofeum - 2 razy z Pucharu Europy, 1 raz z Pucharu Zdobywców Pucharów. </li>
        </br></br>
      </p>
    </div>
  </section>

{% endblock %}