{% extends 'main_template.html' %}
{% load bootstrap %}
{% block title %} Login {% endblock %}

{% block view_name %} User {% endblock %}{% block view_icon %} <span class="glyphicon glyphicon-user"></span> {% endblock %}

{% block body %}


    <form method="post">

        {% csrf_token %}
        <p><label>Username: </label> {{ user.username }}</p>
        <p><label>E-mail: </label> {{ user.email }}</p>
        <p><label>First name: </label> {{ user.first_name }}</p>
        <p><label>Last name: </label> {{ user.last_name }}</p>
        <p><label>Date of birth: </label> {{ user.profile.date_of_birth }}</p>
        <p><label>Location: </label> {{ user.profile.location }}</p>
        <p><label>Date joined: </label> {{ user.date_joined }}</p>
        <p><label>Last login: </label> {{ user.last_login }}</p>
        <a id="przycisk" href="{% url 'logout' %}"><span class="glyphicon glyphicon-edit" style="color: #a94442"></span>
        <a id="przycisk" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out" style="color: #a94442"></span></a>
        <a id="przycisk" data-href="/delete" data-toggle="modal" data-target="#confirm-delete" style="cursor: pointer"><span class="glyphicon glyphicon-trash" style="color: #a94442"></span></a>

    </form>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label>Are you sure you want to delete your account?</label>
            </div>
            <div class="modal-body">
                <p>Deleting your account is permanent and will remove all content. Are you sure you want to delete your account?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}